/* body{
background-image: url(./juho-luomala-K2AWz4lXrAM-unsplash.jpg);
background-position: center;
background-size: cover;
} */
.display-5{
    color: #fff;
    font-size: 35px;
}
.T{
    color: coral;
}
